@page "/"
@inject IBookRepository Repository
@attribute [StreamRendering]

<PageTitle>
    Book List
</PageTitle>

<div class="row justify-content-center">
    <div class="col-6">
        <a href="AddNew" class="btn btn-primary shadow-none mb-3">
            Add Book
        </a>
        @if(books is null)
        {
            <div class="book-item">
                Loading books. Please wait...
            </div>

        }
        else if(books.Any())
        {
            @foreach(var book in books)
            {
                <div class="book-item">
                    <BookCard @rendermode="InteractiveServer" Book="book"></BookCard>
                </div>
            }
        }
        else
        {
            <div class="book-item">
                No books found.
            </div>
        }
    </div>
</div>

@code {
    private List<Book>? books;
    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1600);
        books = await Repository.GetAllAsync();
    }
}
